html, body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#F84522, #FB6730) !important;
    height: 100%;
    overflow-y: hidden;
    font-family: 'Raleway', sans-serif;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 2px;
    font-size: 5em;;
    text-align: center;
    color: white;
}

.img-title {
    display: block;
    width: 100%;
    height: auto;
}

label {
    font-size: 1.5em;
    color: white;
    display: inline-block;
    box-shadow: ;
}

.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    box-shadow:0 0 8px #666;
    behavior:url('PIE.htc');
    height: 3em;
    width: 350px;
    margin: 0.5px 20px;
}

.btn-user {
    background-color: #ee5a00;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-user:hover {
    background-color: #cf5408;
}

.btn-user:active {
    background-color: #b14502;
    transform: translateY(4px);
}

.helptext, label, br {
    display: none;
}