{% extends "orders/base.html" %}
{% load static %}
{% block title %}Item Added{% endblock %}
{% block style %}
    <style>
    html, body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background: linear-gradient(#F84522, #FB6730) !important;
        height: 100%;
        overflow-y: hidden;
        font-family: 'Raleway', sans-serif;
    }

    .menu-container {
        background: white;
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        display: block;
        box-shadow: 6px 6px 6px black;
        border-radius: 25px;
        padding: 20px
    }

    hr {
        background: black;
    }

    h2 {
        font-size: 3em;
        text-align: center;
        font-family: 'Spicy Rice', cursive;
        text-transform: uppercase;
    }

    h1, h3 {
        text-align: center;
    }

    .btn-submit {
        width: 30%;
    }

    .btn-submit button {
        display: block;
        align-self: center;
        background-color: #ee5a00;
        box-shadow: 6px 6px 6px black;
        border: none;
        border-radius: 5px;
        padding: 15px 35px;
        color: white;
        font-weight: 900;
        font-family: 'Montserrat',
        sans-serif;
        letter-spacing: 1px;
        transition: all 1s;
        text-transform: uppercase;
        width: 100%;
        margin-top: 15px;
    }

    .btn-submit button:hover {
        background: #be4a02;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="menu-container">
        <h1>Order Placed</h1>
        <hr />
        <h3>Successfully Paid {{price}}</h3>
        <div class="btn-container">
            <a class='btn-submit' href="{% url 'create_order' %}"><button>new order</button></a>
            <a class='btn-submit' href="{% url 'index' %}"><button>home</button></a>
        </div>
    </div>
{% endblock %}